<h6> <i class="fas fa-laptop"></i> Nombre del Equipo</h6>
<h5>{{p_cadauno[0].nombre_eq}}</h5>

<h6 class="mt-3"> <i class="fas fa-vote-yea"></i> Intervención</h6>
<h5> {{p_cadauno[0].nombre_inter}}</h5>

<h6 class="mt-3"> <i class="far fa-calendar"></i> Fecha del Registro</h6>
<h6>{{p_cadauno[0].fecha_reg}}</h6>

<h6 class="mt-3"> <i class="fas fa-clipboard-list"></i> Recursos Utilizados</h6>
<h5>{{p_cadauno[0].descripcion_recur}}</h5>

<h6 class="mt-3"> <i class="fas fa-comments" ></i> Comentarios:</h6>
<h5>{{p_cadauno[0].coment_reg}}</h5>